.tooltip {
  position: absolute;
  left: 290px;
  top: 250px;
  width: 200px;
  height: 80px;
  background: #fff;
  z-index: 11;
  border-radius: 6px;
  display: none;
  transform: translate(-50%, -100%);
}